/*Header*/
header {
  text-align: center;
  font-family: Roboto;
  font-size: 500%;
  color: grey;
}

h1{
  text-align: center;
  font-family: Roboto;
  font-size: 100%;
  color: #0395DE;
}

.Btittle{
  color: rgb(71, 71, 71);
  font-style: bold;
}

/* Body */
.HomeImage{
    display: block;
    max-width: 40%;
    max-height: auto;
    width: auto\9; /* ie8 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
/*Footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: white;
}

.fa {
  color: white;
}
