
body {
  width:auto;
  height: 100%;
  text-align: center;
  /*background:url(../images/home.png) no-repeat center center fixed;*/
  background-color: #F07111;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/*Media*/
.SocialButtons {
  top: 0;
} 

.media {
  text-align: right;
}

.NavMedia { 
  padding: .5em;
}

.ImgMedia {
  width: 20px; 
  height: 20px;
}

/*Header*/
.structure{
  margin-left: 13em;
  margin-right: 13em;
}

header {
  position: absolute;
  margin: 1em;
  text-align: center;
}

.title {
  margin-top: .5em;
  border-bottom: 1px solid grey;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

nav li {/*modifica el bloc senser del menu conjunt*/
  display: inline-block;
  margin: 1em;
}

nav a { /*modifica les lletresn i l'estructura menu*/
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5em;
  color: #FFF;
}

nav a:hover, /* Efecte enfosquir lletra quan pases el ratoli*/
nav a:focus {
  color: #DDD;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 60rem) { /* aixo adapta lo de dins quan canvia la pantalla*/
  .title{
    font-size: 4rem;
  }
  .title span{
    font-size: 3rem;
  }
}

/*button*/
.button {
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
  border-color: #00ff6c;
}

.buttonImpact {
  color: #00ff6c;
}

.buttonImpact:hover,
.buttonImpact:focus {
  background: #00ff6c;
  color:#232323;
}
/* header*/


/* Home section*/
.home {
  color: #FFF;
  padding: 10em 0;
}

.logo{
  max-width: 5%;
  min-width: 100px;
}
/* Home section*/

/*Footer*/
.buttonContact {
  border-radius: 8px;
  cursor: pointer;
  weight:50px;
  height:50px;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: grey;*/
  color: black;
  text-align: center;
  padding-bottom: 0.2em;
}
/*Footer*/